
<div class="container-sm">
  <p id="notice"><%= notice %></p>

	<table id="table" class="table table-striped table-bordered table-hover">
		<thead>
			<th>Nom du magasin</th>
			<th>Adresse</th>
			<th>Numéro du ticket</th>
			<th>Date</th>
			<th>Heure</th>
			<th>Produits</th>
      <th>Montant par produit</th>
      <th>Montant total</th>
		</thead>
		<tbody>
    <% @tickets.each do |ticket| %>
			<tr>
				<td>
          <%= ticket.name %>
        </td>
        <td>
          <%= ticket.address %>
        </td>
        <td>
          <%= ticket.ticket_number%>
        </td>
        <td>
          <%= ticket.date.strftime("%d/%m/%Y") %>
        </td>
        <td>
          <%= ticket.hour.strftime("%T") %>
        </td>
        <td>
          <%= ticket.products%>
        </td>
        <td>
          <%= ticket.amount_by_product %>
        </td>
        <td>
          <%= ticket.total_amount %>
        </td>
      </tr>
      <% end %>
		</tbody>
	</table>

  <div class="d-flex flex-row-reverse">
    <div class="p-2">    
      <%= link_to 'Télécharger au format Excel', tickets_path(format: :xlsx), class: "btn btn-primary" %>
    </div>
    <div class="p-2">
      <%= link_to 'Ajouter une entrée', new_ticket_path(@ticket), class: "btn btn-primary" %>
    </div>
  </div>


</div>
<script>

    $(document).ready(function () {
        $('#table').DataTable({
            paging: true,
            info: true,
            pageLength: 50,
            lengthChange: false,
            searching: true,
            language: {
                paginate: {
                    previous: "Précédent",
                    next: "Suivant"
                },
                search: "_INPUT_",
                searchPlaceholder: "Rechercher...",
                lengthMenu: "Affiche _MENU_ entrées par page",
                zeroRecords: "Aucune entrée trouvée",
                info: "_END_ entrées trouvées sur _TOTAL_",
                infoEmpty: "Aucune entrée disponible",
                infoFiltered: "(filtré à partir de _MAX_ entrées totales)"
            },
            columnDefs: [
                {targets: 3, type: 'date-eu'}
            ],
            order: [[3, 'desc']],
        });
    });
</script>