<!DOCTYPE html>
<html>
  <head>
    <title>Test9troisquarts</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.23/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.23/datatables.min.js"></script>
  </head>

  <body>
  <br/>
    <%= link_to root_path, class: '' do %>
      <%= image_tag("logo2.jpg", size: "120x120") %>
    <% end %>
    <%= yield %>
  </body>
</html>